<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Quiz</title>
</head>
<body>
  <h1> <%- title %> </h1>
  <hr>
  <%- content %>
  <hr>
  <form action="/quiz" method="GET">
    <input type="submit" value="開始">
  </form>
  </div>
</body>
</html>
