<% include partials/header %>
<body>
  <h1><div id="title"></div></h1>
  <h3><div id="subTitle"></div></h3>
  <hr>
  <div id="questionMessage"></div>
  <hr>
  <table>
      <tr>
        <td><div id="answer1"></div></td>
      </tr>
      <tr>
        <td><div id="answer2"></div></td>
      </tr>
      <tr>
        <td><div id="answer3"></div></td>
      </tr>
      <tr>
        <td><div id="answer4"></div></td>
      </tr>
  </table>
  <div id="bottom"></div>
  <script src="function.js"></script>
  <script src="main.js"></script>
</body>
</html>
