<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Quiz</title>
</head>
<body>
  <h1> <%- title %> </h1>
  <h3><div id="subTitle"></div></h3>
  <hr>
  <%- content %>
  <hr>
  <div id="bottom">
    <button id="start" onclick="location.href='http://localhost:3000'">
        再チャレンジ
    </button>
  </div>
</body>
</html>
